.mosaicTiles-canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
}


.mosaicTiles-videoContainer {
  position: absolute;
  visibility: hidden;
}

.mosaicSelector-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.mosaicSelector-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
